requests
рекомендации к использованию:
1. требуется знать id пользователя
2. запускается в файле diploma.py
3. предварительно нужно установить библиотеку requests и json
4. нужно знать токен ВК для запроса, данный токен использовать в своих целях запрещено!
исользуется только в научных целях!